/* ====== FLEX ======= */
.flex   { display: flex; }
.f-row  { flex-direction: row; }
.f-col  { flex-direction: column; }
.f-wrap { flex-wrap: wrap; }

/* justify-content */
.j-start   { justify-content: flex-start; }
.j-end     { justify-content: flex-end; }
.j-between { justify-content: space-between; }
.j-around  { justify-content: space-around; }
.j-center  { justify-content: center; }

/* align-content -> vertical content aligment */
.ai-center { align-items: center; }
.ac-between {align-content: space-between}

/* aligment-item -> RULES FOR Flex items */
.as-end {align-self: flex-end;}
.as-center {align-self: center;}
/* ====== = = ======= */

body {
  padding: 0 5%;
}

.container {
  max-width: 1000px;
  padding: 30px 0;
  margin: 0 auto;
}

.b-bottom {
  border-bottom: 1px solid $color-black;
}