.side-bar {
  width: 180px;

  .side-bar-top {
    background: $color-boulder;
    padding: 20px 15px;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        margin-top: 5px;

        a {
          text-decoration: none;
          color: $color-white;
          font: $primary-font;
        }
      }

      li:first-child {
        a {
          font: $primary-font-bold
        }
      }
    }
  }
  .side-bar-bottom {
    background: $color-boulder;
    height: 140px;
    width: 180px;
  }
}

.main-content {
  width: 760px;

  .bold {
    font: $primary-font-bold;
  }

  .main-content-top {
    background: $color-alto;
    padding: 20px 15px;
    margin: 0 20px 10px 10px;
    color: $color-boulder;

    h1 {
      font: $primary-font-bold;
    }
  }

  .main-content-item {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      justify-content: flex-start;

      li {
        background: $color-alto;
        width: 130px;
        height: 160px;
        margin: 10px;
      }
    }
  }

  .main-content-bottom {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        padding: 15px 20px;
        background: $color-alto;
        font: $primary-font;
        margin: 10px 10px 0 10px;
        width: 41%;
        color: $color-boulder;
      }
    }
  }
}