body {
  padding: 0 50px; }

.container {
  max-width: 1000px;
  padding: 30px 0;
  margin: 0 auto; }

.b-bottom {
  border-bottom: 1px solid #000; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.block1 {
  width: 120px;
  height: 120px;
  background: #767676;
  float: left;
  margin: 0 10px 0 0; }

.block2 {
  width: 280px;
  height: 120px;
  background: #767676;
  float: left;
  margin: 0 30px 0 30px; }

.block3 {
  width: 520px;
  height: 120px;
  background: #767676;
  float: left;
  margin: 0 0 0 10px; }

.container {
  position: relative; }
  .container .side-bar {
    width: 180px;
    float: left; }
    .container .side-bar .side-bar-top {
      background: #767676;
      padding: 20px 15px; }
      .container .side-bar .side-bar-top ul {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        .container .side-bar .side-bar-top ul li {
          margin-top: 5px; }
          .container .side-bar .side-bar-top ul li a {
            text-decoration: none;
            color: #fff;
            font: 14px "Arial", sans-serif; }
        .container .side-bar .side-bar-top ul li:first-child a {
          font: bold 14px "Arial", sans-serif; }
    .container .side-bar .side-bar-bottom {
      background: #767676;
      height: 140px;
      width: 180px;
      position: absolute;
      bottom: 30px; }
  .container .main-content {
    width: 760px;
    float: right; }
    .container .main-content .bold {
      font: bold 14px "Arial", sans-serif; }
    .container .main-content .main-content-top {
      background: #dcdcdc;
      padding: 20px 15px;
      margin: 0 0 10px 10px;
      color: #767676; }
      .container .main-content .main-content-top h1 {
        font: bold 14px "Arial", sans-serif; }
    .container .main-content .main-content-item ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .container .main-content .main-content-item ul li {
        background: #dcdcdc;
        width: 130px;
        height: 160px;
        margin: 10px;
        float: left; }
    .container .main-content .main-content-bottom ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .container .main-content .main-content-bottom ul li {
        padding: 15px 20px;
        background: #dcdcdc;
        font: 14px "Arial", sans-serif;
        margin: 10px 10px 0 10px;
        width: 41%;
        color: #767676;
        float: left; }
      .container .main-content .main-content-bottom ul li:nth-child(2) {
        float: right;
        margin-right: 0; }

.wrap-footer-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative; }
  .wrap-footer-items .footer-item {
    color: #fff;
    width: 27%;
    margin: 15px 27px;
    padding: 15px 20px;
    background: #767676;
    font: 14px "Arial", sans-serif;
    float: left; }
    .wrap-footer-items .footer-item ul {
      float: left; }
      .wrap-footer-items .footer-item ul li {
        margin-top: 5px; }
    .wrap-footer-items .footer-item ul:last-child {
      float: right; }
  .wrap-footer-items .footer-item:first-child {
    margin-left: 0; }
    .wrap-footer-items .footer-item:first-child ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
  .wrap-footer-items .footer-item:nth-child(2) ul {
    list-style-type: square; }
  .wrap-footer-items .footer-item:nth-child(3) {
    padding: 0;
    background: transparent;
    margin-right: 0; }
    .wrap-footer-items .footer-item:nth-child(3) div {
      width: 100%;
      background: #767676;
      height: 60px; }
    .wrap-footer-items .footer-item:nth-child(3) div:last-child {
      position: absolute;
      bottom: 15px;
      width: inherit; }

/*# sourceMappingURL=style.css.map */
